#home-page-container {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

#page-header {
    font-family: "Georgia";
    font-size: 46px;
    margin-bottom: 2px;
    font-weight: 300;
}

#review-list-container {
    margin-top: 20px;
    width: 900px;
}

@media(max-width: 950px) { 
    #review-list-container {
        width: 700px;
    }
}

@media(max-width: 750px) { 
    #review-list-container {
        width: 500px;
    }

    #page-header {
        font-size: 36px;
    }
}

@media(max-width: 520px) { 
    #review-list-container {
        width: 300px;
    }
}