#page-container {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

#page-header {
    font-family: "Georgia";
    font-size: 46px;
    margin-bottom: 2px;
    font-weight: 300;
}

#review-container {
    margin-top: 20px;
    width: 900px;
}