#page-container {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#register-button {
    background-color: white;
    padding: 0;
    color: blue;
    border: none;
    margin: 10px;
}

#register-button:hover {
    cursor: pointer;
}

#login-submit-button {
    color: black;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
}

#login-submit-button:hover {
    opacity: .8;
    text-decoration: underline;
}